<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 offset-md-3 text-center">
                <!-- <h1>welcome to Examportal</h1> -->
                <mat-card class="example-card">

                      <div class="container text-center">
                        <mat-card-title >Welcome to Examportal</mat-card-title>
                        <mat-card-subtitle class="ml20">- developed by Suman</mat-card-subtitle>
                      </div>


                    <img mat-card-image src="https://www.ndtv.com/education/cache-static/media/presets/625X400/presets/900X600/article_images/2021/5/8/exam001.webp" alt="exam">
                    <mat-card-content>
                      <p>
                       Exam portal app is made for students and teacher. You can create your question give quizes and lots of things you can do. Try now for free!!!
                      </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                  </mat-card>

            </div>
        </div>
    </div>
</div>